<%= stylesheet_link_tag 'form' %>
<h1>Listing of Built Itineraries</h1>

<table>
  <tr class="first">
    <th>From:</th>
    <th>To:</th>
    <th>Departure</th>
    <th>Return</th>
    <th>Passenger(s)</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @airlines.each do |airline| %>

  <tr class="<%= cycle("even", "odd") %>">
    <td><%= airline. flyFrom %></td>
    <td><%= airline.flyTo %></td>
    <td><%= airline.departureOnThe %>
    <%= airline.departureDaySection %></td>
    <td><%= airline.returnOnThe %>
    <%= airline.returnDaySection %></td>
    <td ALIGN="center"><%= airline.passengersToBoard %></td>
    <td><%= link_to 'Show', airline %></td>
    <td><%= link_to 'Edit', edit_airline_path(airline) %></td>
    <td><%= link_to 'Destroy', airline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Itinerary', new_airline_path %>
