<% if flash[:notice] == nil %>
<%flash[:notice] = "Please make changes as needed up to 24hs before your flight. (not checking yet)"%>
<%end%>
<%= stylesheet_link_tag 'table' %>

<p id="notice"><%= notice %></p>


<table class="sample">
	
<tr class="even">
<td><b>Fly From:</b></td>
<td><%= @airline. flyFrom %></td>
<td></td>
</tr>

<tr class="odd">
<td><b>Fly to:</b></td>
<td><%= @airline.flyTo %></td>
<td></td>
</tr>

<tr class="even">
<td><b>Departure:</b></td>
<td><%= @airline.departureOnThe.strftime("%B")%>
	<%=@airline.departureOnThe.day%>
	<%=@airline.departureOnThe.year%></td>
<td><%= @airline.departureDaySection %></td>
</tr>


<tr class="odd">
<td><b>Return:</b></td>
<td><%= @airline.returnOnThe.strftime("%B")%> 
	<%=@airline.returnOnThe.day%>
	<%=@airline.returnOnThe.year%></td>
 <td><%= @airline.returnDaySection %></td>
</tr>

<tr class="even">
<td><b>Passengers:</b></td>
<td><%= @airline.passengersToBoard %></td>
<td></td>
</tr>

</table>

<br/>
<br/>


<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines_path %>
